.Logo {
  will-change: transform;
  animation: LogoAnimation 90s steps(20) infinite;
}


@keyframes LogoAnimation {
  0% {
    transform: translate(0rem, 0rem);
  }
  10% {
    transform: translate(10rem, 10rem);
  }
  20% {
    transform: translate(0rem, 0rem);
  }
  30% {
    transform: translate(-10rem, -10rem);
  }
  40% {
    transform: translate(-10rem, 0rem);
  }
  50% {
    transform: translate(0rem, 0rem);
  }
  60% {
    transform: translate(10rem, 2rem);
  }
  70% {
    transform: translate(0rem, 1rem)
  }
  80% {
    transform: translate(-10rem, 5rem);
  }
  90% {
    transform: translate(-5rem, 10rem);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}

